@import 'tailwindcss';

@layer base {
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}
	p {
		font-size: 16px;
	}
}
@theme inline {
}
@utility container {
	padding-inline: 2rem;
	margin-inline: auto;
}
